.header {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 10000;

    .header__box {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1400px;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 120px;
            width: auto;
            max-width: 100%;
            vertical-align: middle;
        }
    }

    .nav__list {
        display: flex;
        width: 500px;
        justify-content: space-between;

        .nav__item {
            .nav__link {
                font-weight: bold;
                font-family: "Montserrat";
                text-transform: uppercase;
                font-size: 0.875rem;
                color: #4d4c4cb6;

                &:hover {
                    color: #000;
                }
            }

            .active {
                color: #000;
            }

            .header__select {
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .search__btn {
        display: block;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        svg:hover {
            fill: #000;
        }

        svg:hover path {
            fill: #000;
        }
    }

    .search__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(128, 128, 128, 0.3);
        z-index: 1000;
    }

    .search__modal__item {
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;

        .search__model__item-box {
            display: flex;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            justify-content: space-between;
        }

        .search__input {
            display: block;
            width: 100%;
            border: none;
            padding: 10px;
            font-size: 27px;
            color: rgb(107, 105, 105);

            &:focus {
                // color: #333;
                outline: none;
            }
        }

        .search__close-btn {
            display: block;
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg:hover {
                fill: #000;
            }
        }
    }

    .menu__btn {
        display: none;
        position: absolute;
        top: 25%;
        right: 0px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        background: transparent;
        border: none;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: 0.25s;
    }

    .menu__btn>span::before {
        content: "";
        top: -8px;
    }

    .menu__btn>span::after {
        content: "";
        top: 8px;
    }

    .menu__box {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        padding: 30px;
        background: rgba(0, 0, 0, 0.6);
        z-index: 3000;

        &--show {
            display: block;
        }

        .nav__list {
            position: fixed;
            top: 0;
            left: 0;
            width: 80%;
            height: 100%;
            background: #fff;
            flex-direction: column;
            justify-content: start;

            .nav__item {
                display: block;
                width: 100%;
                padding: 20px;
                border-top: 1px solid #a19d9d5d;

                &:nth-child(1) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0;
                    border: none;
                    background: #202020;

                    span {
                        color: #fff;
                    }

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .header__nav {
            display: none;
        }

        .header__box {
            .logo {
                height: 80px !important;
            }
        }

        .header_search-box {
            display: flex;
            width: 100%;
            max-width: 60px;
            justify-content: space-between;
        }

        .menu__btn {
            display: block;
        }

        #menu__toggle {
            display: block;
        }
    }
}